.accordion-item--cont {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.accordion-header--cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header--cont h2 {
  width: 70%;
  font-size: 2.4rem;
  color: var(--grey);
}

.accordion-options--cont {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.accordion-options--cont.close {
  display: none;
}

.accordion-options--cont.capsule-selected {
  display: none;
}

.accordion-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2.5em;
  background: #f4f1eb;
}

.accordion-body h3,
.accordion-body p {
  color: var(--blue);
}

.accordion-body h3 {
  font-size: 2.4rem;
}

.accordion-body p {
  text-align: left;
}

.accordion-body.selected {
  background: var(--cyan);
}
.accordion-body.selected h3,
.accordion-body.selected p {
  color: #fff;
}

@media (min-width: 48em) {
  .accordion-header--cont h2 {
    width: 80%;
    font-size: 3.2rem;
  }

  .accordion-options--cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8em;
  }

  .accordion-body {
    gap: 2em;
  }
  .accordion-body p {
    font-size: 1.6rem;
  }

  .accordion-body {
    padding: 4em 2.5em 8em 2.5em;
  }
}
