.modal {
  position: fixed;
  right: 0;
  left: 0;
  margin: 15em auto;
  z-index: 999;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-header {
  font-size: 2.8rem;
  color: #fff;
  background: var(--blue);
  padding: 0.8em 0.6em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-text--cont {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 4em 2em 2em 2em;
  background: var(--cream);
}

.modal-text--cont h2 {
  font-size: 2.4rem;
  color: var(--grey);
  line-height: 40px;
}

.modal-text--cont p {
  color: var(--blue);
  opacity: 0.8;
  text-align: initial;
  margin-bottom: 1.5em;
}

.custom {
  color: var(--cyan);
}

.checkout-desk {
  display: none;
}
.checkout-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-mob button {
  width: 100%;
}

@media (min-width: 48em) {
  .checkout-mob {
    display: none;
  }

  .checkout-desk {
    display: block;
  }

  .checkout-desk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  div.checkout-desk h2 {
    font-size: 3.2rem;
    color: var(--blue);
    margin-bottom: 0em;
  }

  .checkout-desk div button {
    width: 100%;
  }

  .modal {
    width: 70%;
  }

  .modal-header {
    font-size: 4rem;
    padding: 0.8em 1.2em;
  }

  .modal-text--cont {
    padding: 4em 6em 4em 6em;
  }

  .modal-text--cont h2 {
    margin-bottom: 0.6em;
  }

  .modal-text--cont p {
    width: 90%;
  }
}
