.commitment-cont {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.commitment-cont img {
  width: 100%;
}

.commitment-text--cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.commitment-text--cont h2 {
  color: var(--blue);
  font-size: 3.2rem;
}

.commitment-text--cont p {
  color: var(--blue);
  opacity: 0.8;
}

.image-tablet {
  display: none;
}

.image-desktop {
  display: none;
}

@media (min-width: 48em) {
  .commitment-cont {
    margin-bottom: 30em;
  }

  .image-mobile {
    display: none;
  }
  .image-tablet {
    display: block;
    max-width: 34.8rem;
  }

  .commitment-cont {
    display: grid;
    grid-template-columns: 45fr 55fr;
    align-items: center;
  }

  .commitment-text--cont {
    align-items: initial;
  }

  .commitment-text--cont p {
    text-align: initial;
  }
}
@media (min-width: 90em) {
  .commitment-text--cont h2 {
    font-size: 4rem;
  }

  .image-tablet {
    display: none;
  }

  .image-desktop {
    display: block;
  }

  .commitment-cont {
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 49fr 61fr;
  }

  .commitment-text--cont {
    padding-left: 4em;
    align-items: initial;
  }

  .commitment-text--cont p {
    text-align: initial;
  }
}
