.location-cont .header-text {
  text-align: center;
  color: var(--grey);
  font-size: 2.4rem;
  margin-bottom: 4em;
}

.location-item--cont {
  display: flex;
  flex-direction: column;
  gap: 8em;
}

@media (min-width: 48em) {
  .location-cont .header-text {
    text-align: initial;
  }

  .location-item--cont {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    gap: 0;
  }
}
@media (min-width: 90em) {
  .location-cont {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20em;
  }
}
