.quality-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/about/mobile/bg-quality.png");
  background-position: center;
  background-size: cover;
  margin-top: 20em;
  padding-bottom: 4em;
}

.quality-cont img {
  width: 85%;
  transform: translateY(-50%);
}
.quality-text--cont {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 90%;
  transform: translateY(-5%);
}

.quality-text--cont h2,
.quality-text--cont p {
  color: var(--cream);
}

.quality-text--cont h2 {
  text-align: center;
  font-size: 2.8rem;
}

.quality-text--cont p {
  opacity: 0.8;
}

.quality-img--tab {
  display: none;
}

.quality-img--desk {
  display: none;
}

@media (min-width: 48em) {
  .quality-cont {
    background: var(--blue);
    padding-bottom: 0;
  }

  .quality-img--mob {
    display: none;
  }

  .quality-img--tab {
    display: block;
    max-width: 65.4rem;
  }

  .quality-text--cont {
    width: 79%;
  }
  .quality-text--cont h2 {
    font-size: 3.2rem;
  }
  .quality-text--cont {
    transform: translateY(-50%);
  }
}
@media (min-width: 90em) {
  .quality-cont {
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10em;
    gap: 0;
  }

  .quality-cont img {
    transform: translateY(-17%);
  }

  .quality-img--mob {
    display: none;
  }

  .quality-img--tab {
    display: none;
  }

  img.quality-img--desk {
    max-width: 44.5rem;
    width: 37.2%;
    display: block;
  }

  .quality-text--cont {
    margin-top: 8em;
    width: 55%;
  }
  .quality-text--cont p,
  .quality-text--cont h2 {
    text-align: initial;
  }
  .quality-text--cont h2 {
    font-size: 4rem;
  }

  .quality-text--cont p {
    width: 78%;
  }

  .quality-text--cont {
    transform: translateY(0);
  }
}
