.about-background--img {
  background-image: url("../assets/about/mobile/image-hero-whitecup.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 48em) {
  .about-background--img {
    background-image: url("../assets/about/tablet/image-hero-whitecup.jpg");
  }
}
@media (min-width: 90em) {
  .about-background--img {
    background-image: url("../assets/about/desktop/image-hero-whitecup.jpg");
  }
}
