.home-background--img {
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 48em) {
  .home-background--img {
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
  }
}

@media (min-width: 90em) {
  .home-background--img {
    background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
  }
}
