.collection-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.collection-cont h1 {
  font-size: 4rem;
  background-image: linear-gradient(var(--grey), 30%, var(--cream));
  background-clip: text;
  color: transparent;
}

.collection-item--cont {
  display: flex;
  flex-direction: column;
  gap: 6em;
}

@media (min-width: 48em) {
  .collection-cont {
    margin: 0 auto;
    max-width: 66rem;
  }

  .collection-cont h1 {
    font-size: 9.5rem;
  }
}
@media (min-width: 90em) {
  .collection-cont {
    margin: 0 auto;
    max-width: none;
    margin-bottom: 10em;
  }

  .collection-item--cont {
    width: 90%;
    max-width: 116.7rem;
    flex-direction: row;
    gap: 0em;
  }
  .collection-cont h1 {
    font-size: 16rem;
  }
}
