.collection-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.collection-item img {
  width: 59.5%;
}

.collection-item h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 2.4rem;
  color: var(--blue);
}

.collection-item p {
  color: var(--blue);
  padding: 0 2em;
}
