.collection-item,
.collection-item--cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.collection-item img {
  width: 59.5%;
}

.collection-item h2 {
  font-size: 2.4rem;
  color: var(--blue);
}

.collection-item p {
  color: var(--blue);
  padding: 0 2em;
}

@media (min-width: 48em) {
  .collection-item {
    transform: translate(8%, -40%);
    align-items: initial;
    flex-direction: row;
  }

  .collection-item img {
    max-width: 25.5rem;
  }

  .collection-item--cont {
    align-items: initial;
  }

  .collection-item h2 {
    margin-top: 1em;
  }

  .collection-item p {
    padding: 0;
    width: 70%;
    text-align: initial;
  }
}
@media (min-width: 90em) {
  .collection-item {
    transform: translate(-5%, -30%);
    align-items: center;
    flex-direction: column;
  }

  .collection-item img {
    width: 100%;
    max-width: 25.5rem;
  }

  .collection-item--cont {
    align-items: center;
  }

  .collection-item h2 {
    margin-top: 1em;
  }

  .collection-item p {
    padding: 0;
    width: 80%;
    text-align: center;
  }
}
