.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8em 0 5em 0;
  background: var(--cyan);
}

.feature-text--cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-item h2,
.feature-item p {
  color: var(--cream);
}

.feature-item h2 {
  font-size: 2.4rem;
  margin-bottom: 1em;
}

.feature-item p {
  padding: 0 2em;
}

.feature-item img {
  width: 30%;
  margin-bottom: 4em;
}

@media (min-width: 48em) {
  .feature-item {
    flex-direction: row;
    padding: 4em 5em 4em 5em;
    gap: 5em;
  }

  .feature-item img {
    max-width: 8.1rem;
    width: 20%;
    margin-bottom: 0;
  }

  .feature-item h2 {
    margin-bottom: 0.8rem;
  }

  .feature-text--cont {
    align-items: initial;
  }

  .feature-text--cont p {
    text-align: initial;
    padding: 0;
  }
}
