.home-feature--cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 70em;
}

.feature-intro--cont {
  background-image: url("../../assets/about/mobile/bg-quality.png");
  background-position: center;
  background-size: cover;
  padding-top: 5em;
  padding-bottom: 67em;
}

.feature-item--cont {
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  transform: translateY(25%);
}

.feature-text--cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.feature-text--cont h2,
.feature-intro--cont p {
  color: var(--cream);
}

.feature-text--cont h2 {
  font-size: 2.8rem;
}

.feature-text--cont p {
  padding: 0 1em;
  opacity: 0.8;
}
