.home-explanation--cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7em;
}
.home-explanation--cont h2 {
  font-size: 2.4rem;
  color: var(--grey);
}

.circle-cont {
  display: none;
}

@media (min-width: 48em) {
  .home-explanation--cont {
    align-items: initial;
  }

  .step-line--cont {
    max-width: 92.4rem;
    width: 77%;
  }

  .circle-cont {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .circle {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: var(--cream);
    border: 2px solid var(--cyan);
  }

  .horizontal-line {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(750%);
    width: 99%;
    border-top: 2px solid var(--orange);
    z-index: -10;
  }
}
