.menu {
  display: none;
  gap: 4em;
}

.menu a {
  font-weight: 700;
  letter-spacing: 0.92px;
  text-decoration: none;
  color: var(--grey);
  transition: all 0.3s;
}

.menu a:hover {
  color: var(--blue);
}

.menu a p {
  font-size: 1.2rem;
}

@media (min-width: 48em) {
  .menu {
    display: flex;
  }
}
