.dropdown-cont {
  font-family: "Fraunces", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  width: 100%;
  height: 100vh;
  padding-top: 2em;

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(4%);

  background: linear-gradient(#fefcf7 25%, 40%, #fefcf700 90%);
}

.dropdown-cont ul {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  list-style: none;
}

.dropdown-cont ul li {
  text-align: center;
}

.dropdown-cont ul li a {
  text-decoration: none;
  color: var(--blue);
}
