.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 4em auto;
  position: relative;
  padding-top: 3em;
}

.image {
  width: 50%;
}

.header nav {
  position: relative;
}
