.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 4em auto;
  position: relative;
  padding-top: 3em;
}

.image {
  max-width: 162px;
  width: 50%;
}

.header nav {
  position: relative;
}

@media (min-width: 48em) {
  .image {
    max-width: 236px;
  }
}
