.intro-card--cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 9.1em 2em;
  color: var(--cream);
}

.intro-card--cont h1,
p {
  text-align: center;
}

.intro-card--cont h1 {
  font-size: 4rem;
}

.intro-card--cont p {
  font-size: 1.5rem;
  line-height: 25px;
  opacity: 0.8;
}

@media (min-width: 48em) {
  .intro-card--cont {
    align-items: initial;
    padding: 9.5em 5em;
  }
  .intro-card--cont h1,
  .intro-card--cont p {
    width: 70%;
    text-align: initial;
  }
  .intro-card--cont h1 {
    font-size: 4.8rem;
  }
}

@media (min-width: 90em) {
  .intro-card--cont {
    padding: 11.9em 10em;
  }
  .intro-card--cont h1,
  .intro-card--cont p {
    text-align: initial;
  }

  .intro-card--cont h1 {
    font-size: 7.2rem;
    width: 50%;
  }

  .intro-card--cont p {
    width: 34%;
  }
}
